.converter {
	&__item {
		display: flex;
		gap: 8px;

		div {
			flex: 1;
		}
	}
}

.select {
	padding: 40px;

	&__item,
	div > div {
		display: flex;
		align-items: center;
		gap: 0 5px;
	}

	&__img {
		width: 25px;
		height: 25px;
	}
}
