@import 'material-icons/iconfont/material-icons.css';
@import './mixins.scss';

:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	--accent: #9ca3af;
	--a: #f9fafb;
	--gray-light: #f3f4f6;
	--gray-dark: #6b7280;
	--white: #fff;
	--orange: #ff9400;
	--green-light: #dcfce7;
	--red-light: #fee2e2;
}

body {
	@include scroll;

	margin: 0;
	min-width: 320px;
	background-color: var(--a);
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

button {
	padding: 0;
	border: none;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: transparent;
	cursor: pointer;
}
