// style converter input and select
.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
	padding: 12px 32px 12px 14px;
	display: flex;
	align-items: center;
	gap: 0 5px;
}

.css-6hp17o-MuiList-root-MuiMenu-list {
	li {
		gap: 0 5px;
	}
}

//style table header and body, + mobile adaptive
.css-1ex1afd-MuiTableCell-root {
	padding: 16px 0 !important;
	text-align: center !important;
}

.css-y8ay40-MuiTableCell-root {
	padding: 16px 0 !important;
	text-align: center !important;
}

@media screen and (max-width: 600px) {
	.css-1ex1afd-MuiTableCell-root {
		padding: 10px 7px !important;
	}

	.css-y8ay40-MuiTableCell-root {
		padding: 16px 7px !important;
	}
}
