@import '../../css/mixins';

.table {
	@include scroll;
}

.head {
	th {
		color: #f9fafb;
		background-color: #9ca3af;
	}
}

.img {
	margin: 0 auto;
	display: block;
	width: 35px;
	height: 35px;
}

.row {
	cursor: pointer;
	transition: all 0.15s linear;

	&:hover,
	&.active {
		background-color: #f3f4f6;
	}
}
